body{
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

header{
  text-align: center;
  background-color: #D6ECFF
}

h1 {
    font-size: 38px;
    font-family: Georgia;
  }

  h2 {
    font-size: 20px;
    font-weight: 200;
  }

  h3 {
    font-size: 20px;
    font-weight: 200;
  }
  
  footer{
    text-align: center;
    background-color: #D6ECFF
  }

  div {
    background-color: white
  }

  #title {
    font-size: 60px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #ffffff;
  }

  img{ 
      float: right;
      width:  400px;
      height: 400px;
      object-fit: cover;
  }